{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
  <h1>Rock Paper Scissors Lizard Spock</h1>

  <h2>Welcome {{ player.name }}!</h2>

  <img src="../static/images/rock.jpeg" alt="rock" id="rock">
  <img src="../static/images/paper.jpeg" alt="paper" id="paper">
  <img src="../static/images/scissors.jpeg" alt="scissors" id="scissors">
  <img src="../static/images/lizard.jpeg" alt="lizard" id="lizard">
  <img src="../static/images/spock.jpeg" alt="spock" id="spock">
{% endblock %}
